<div class="row">
  <div class="col-6">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.description }}</h6>
        <p class="card-text">
          {{ object.text }}
        </p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li *ngFor="let dog of dogs; let i = index" class="list-group-item">
          {{ i }} {{ dog }}
        </li>
      </ul>
    </div>
  </div>
</div>
